<h1>会員一覧</h1>

<table>
    <tr>
      <th>商品ID</th>
      <th>氏名</th>
      <th>税抜き価格</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <th><%= item.id %></th>
      <th>
    <%= link_to item.name, admin_item_path(item.id) %>
　    </th>
　    <th><%= item.price %></th>
　    </tr>
    <% end %>
  </table>
