<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-4">

<h1>Public::Orders#index</h1>

 <% @orders.each do |order| %>

    <%= link_to order.id, order_path(order.id) %>
　    </th>

<p>配送先住所</p>
<p><%= order.postal_code %></p>
<% end %>

    </div>
  </div>
</div>
